<div class="col-md-12">
  <div class="row">
  
<div class="col-md-12" style="margin-bottom:20px;">
<h3>Quiz name:{{loginserve.QuiznameDetails.quiz_name}}</h3>
<button class="btn btn-primary" style="float:right" (click)="add()">Add Question</button>
</div>
<div class="col-md-12" *ngIf="!add_qstn">
  <div class="row">
    <div class="col-md-12" *ngFor="let q of allQstn;  let i= index;">
      <div class="row">
      <div class="col-md-12">
        <p>Q{{i+1}}.&nbsp;{{q.question}}</p>
      </div>
      <div class="col-md-12">
        <!-- <input type="radio" [(ngModel)]="q.answer" value="teacher">A.&nbsp;{{q.opt_a}}&nbsp;&nbsp;&nbsp;
        <input type="radio" [(ngModel)]="q.answer" value="teacher">B.&nbsp;{{q.opt_b}}&nbsp;&nbsp;&nbsp;
        <input type="radio" [(ngModel)]="q.answer" value="teacher">C.&nbsp;{{q.opt_c}}&nbsp;&nbsp;&nbsp;
        <input type="radio" [(ngModel)]="q.answer" value="teacher">D.&nbsp;{{q.opt_d}} -->
        A.&nbsp;{{q.opt_a}}&nbsp;&nbsp;&nbsp;B.&nbsp;{{q.opt_b}}&nbsp;&nbsp;&nbsp;C.&nbsp;{{q.opt_c}}&nbsp;&nbsp;&nbsp;D.&nbsp;{{q.opt_d}}
      </div>
      <div class="col-md-12">Answer:&nbsp;{{q.answer}}</div>
    </div>
      <br><br>
    </div>
    <p *ngIf="allQstn.length==0">No data found!</p>
  </div>
</div>
<div class="col-md-12" *ngIf="add_qstn" style="border:1px solid gray">
    <form class="form-horizontal" (ngSubmit)="addQuestion(crs)">
        <h3 style="text-align:center">Add Question & answer</h3>
          <div class="form-group">
          <label class="control-label col-md-1 col-sm-3 col-xs-3" for="question">Question</label>
          <div class="col-md-11 col-sm-9 col-xs-9">
          <input type="text" class="form-control" name="question" [(ngModel)]="crs.question" placeholder="Enter Question" >
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-1 col-sm-3 col-xs-3" for="A">Options</label>
          <div class="col-md-2">
          <input type="text" class="form-control" name="A" [(ngModel)]="crs.A" placeholder="Enter Option A" >
          </div>&nbsp;
          <div class="col-md-2">
            <input type="text" class="form-control" name="B" [(ngModel)]="crs.B" placeholder="Enter Option B" >
          </div>&nbsp;
          <div class="col-md-2">
            <input type="text" class="form-control" name="C" [(ngModel)]="crs.C" placeholder="Enter Option C" >
          </div>&nbsp;
          <div class="col-md-2">
            <input type="text" class="form-control" name="D" [(ngModel)]="crs.D" placeholder="Enter Option D" >
          </div>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label col-md-1 col-sm-3 col-xs-3" for="answer">Answer</label>
          <div class="col-md-11 col-sm-9 col-xs-9">
          <input type="text" class="form-control" name="answer" [(ngModel)]="crs.answer" placeholder="Enter A/B/C/D" maxlength="1" >
        </div>
        </div>
        <div class="text-center">
          <button type="submit" style="text-align:center">Save</button>
          <button (click)="cancel()">Cancel</button>
        </div>
        </form>
</div>
</div>
</div>
<style>
  table,tr,td{
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center
  }
</style>