
<div class="col-md-12">
        <div class="row">
        
      <div class="col-md-12" style="margin-bottom:20px;">
      <h3>User dashboard</h3>
      </div>
      <div class="col-md-12" *ngIf="!add_quiz">
        <table class="col-md-12">
          <tr>
            <td>S.No</td>
            <td>Course name</td>
            <td>Action</td>
          </tr>
          <tr *ngFor="let c of courses; let i= index;">
            <td>{{i+1}}</td>
            <td >{{c.name}}</td>
            <td><a (click)="subscribeCourse(c)" *ngIf="!c.subscribeIds.includes(loginserve.loggedId)">Subscribe</a>
                <a (click)="getChapters(c)" *ngIf="c.subscribeIds.includes(loginserve.loggedId)">Chapters</a>
            </td>
          </tr>
        </table>
        <p style="text-align:center" *ngIf="courses.length==0">No data found!</p>
      </div>
    </div>
</div>
<style>
table,tr,td{
    border-collapse: collapse;
    border: 1px solid grey;
    text-align: center
}
</style>